<center><div>
<h1>Ingresar al Sistema</h1>
<%= form_tag(listarCliente_path, method: "get") do %>
  <%= label_tag(:usuario, "Usuario:") %>
  <%= text_field_tag(:usuario) %><br/>
  <%= label_tag(:password, "Contraseña:") %>
  <%= password_field_tag(:password) %><br/>
  <%= submit_tag("Ingresar") %>
<% end %>
</div></center>